# [magasin]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [magasin]    Script Date: 02/06/2025 08:59:31 ******/
CREATE DATABASE [magasin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'magasin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\magasin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'magasin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\magasin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [magasin] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [magasin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [magasin] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [magasin] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [magasin] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [magasin] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [magasin] SET ARITHABORT OFF 
GO
ALTER DATABASE [magasin] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [magasin] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [magasin] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [magasin] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [magasin] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [magasin] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [magasin] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [magasin] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [magasin] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [magasin] SET  DISABLE_BROKER 
GO
ALTER DATABASE [magasin] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [magasin] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [magasin] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [magasin] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [magasin] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [magasin] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [magasin] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [magasin] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [magasin] SET  MULTI_USER 
GO
ALTER DATABASE [magasin] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [magasin] SET DB_CHAINING OFF 
GO
ALTER DATABASE [magasin] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [magasin] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [magasin] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [magasin] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
ALTER DATABASE [magasin] SET QUERY_STORE = ON
GO
ALTER DATABASE [magasin] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
GO

# [dbo].[fn_stock_restant]

In [0]:
USE [magasin]
GO

In [0]:
/****** Object:  UserDefinedFunction [dbo].[fn_stock_restant]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_stock_restant] (@id_produit INT)
RETURNS INT
AS
BEGIN
  DECLARE @stock_restant INT
  SELECT @stock_restant = 
    (SELECT stock_initial - ISNULL(SUM(quantite_achat),0)
     FROM Achat
     WHERE id_produit = @id_produit)
  FROM Produit
  WHERE id = @id_produit
  RETURN @stock_restant
END;
GO

# [dbo].[categorie]

In [0]:
/****** Object:  Table [dbo].[categorie]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorie](
	[id] [int] NOT NULL,
	[nom] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[produit]

In [0]:
/****** Object:  Table [dbo].[produit]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produit](
	[id] [int] NOT NULL,
	[id_categorie] [int] NULL,
	[nom_produit] [varchar](90) NOT NULL,
	[prix] [int] NOT NULL,
	[stock_initial] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[client]

In [0]:
/****** Object:  Table [dbo].[client]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client](
	[id] [int] NOT NULL,
	[nom_client] [varchar](50) NOT NULL,
	[age] [int] NOT NULL,
	[sexe] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[achat]

In [0]:
/****** Object:  Table [dbo].[achat]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[achat](
	[id] [int] NOT NULL,
	[id_produit] [int] NULL,
	[id_client] [int] NULL,
	[quantite_achat] [int] NOT NULL,
	[date_achat] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[detail_tranche_26_40]

In [0]:
/****** Object:  View [dbo].[detail_tranche_26_40]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[detail_tranche_26_40] as
with select_tranche as(select case when age between 15 and 25 then '15-25ans'
when age between 26 and 40 then '26-40ans'
when age between 41 and 60 then '41-60ans'
else '60+ans' end as tranche from client)
select distinct cat.nom,count(distinct cat.nom) nombre_categorie, cli.sexe,s.tranche, sum(a.quantite_achat) somme_quantite,sum(p.prix*a.quantite_achat) revenu_generer
from select_tranche s,client cli,categorie cat,achat a,produit p
where a.id_produit=p.id  and a.id_client=cli.id and cat.id=p.id_categorie
and s.tranche='26-40ans'
group by cat.nom,cli.sexe,s.tranche
GO

# [dbo].[produit_non_vendu]

In [0]:
/****** Object:  View [dbo].[produit_non_vendu]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[produit_non_vendu] AS
SELECT p.nom_produit, p.stock_initial
FROM produit p
LEFT JOIN achat a ON p.id = a.id_produit
WHERE a.id_produit IS NULL;
GO

# [dbo].[stock_restant2]

In [0]:
/****** Object:  View [dbo].[stock_restant2]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[stock_restant2] as
select c.nom,sum(p.stock_initial) somme_stock_initial
from produit p,categorie c
where c.id=p.id_categorie 
group by c.nom
GO

# [dbo].[vw_top_produits]

In [0]:
/****** Object:  View [dbo].[vw_top_produits]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_top_produits] AS
SELECT top 10
  p.nom_produit,
  SUM(a.quantite_achat) AS total_vendus,
  SUM(a.quantite_achat * p.prix) AS chiffre_affaire
FROM achat a
JOIN Produit p ON a.id_produit = p.id
GROUP BY p.nom_produit
ORDER BY SUM(a.quantite_achat * p.prix) desc
GO

# [dbo].[vw_achats_par_mois]

In [0]:
/****** Object:  View [dbo].[vw_achats_par_mois]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_achats_par_mois] AS
SELECT
  FORMAT(a.date_achat, 'yyyy-MM') AS mois,
  SUM(a.quantite_achat * p.prix) AS montant_mensuel
FROM Achat a
JOIN Produit p ON a.id_produit = p.id
GROUP BY FORMAT(a.date_achat, 'yyyy-MM');
GO

# [dbo].[V_detail_client]

In [0]:
/****** Object:  View [dbo].[V_detail_client]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_detail_client] AS
WITH achats_clients AS (
    SELECT 
        c.nom_client,
        COUNT(a.id_client) AS nombre_achat,
        SUM(a.quantite_achat) AS total_quantite,
        SUM(p.prix * a.quantite_achat) AS total_depense
    FROM achat a
    JOIN client c ON a.id_client = c.id
    JOIN produit p ON a.id_produit = p.id
    GROUP BY c.nom_client
	
)
SELECT 
    nom_client,
    nombre_achat,
    total_quantite,
    total_depense,
    RANK() OVER (ORDER BY total_quantite DESC) AS rang_somme_quantite,
    RANK() OVER (ORDER BY nombre_achat DESC) AS rang_fidelisation,
	RANK () OVER(ORDER BY total_depense DESC) as rang_revenu
FROM achats_clients;
GO

# [dbo].[repartition_quantité_categorie]

In [0]:
/****** Object:  View [dbo].[repartition_quantité_categorie]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[repartition_quantité_categorie]
AS
SELECT dbo.categorie.nom, SUM(dbo.achat.quantite_achat) AS Expr1
FROM     dbo.achat INNER JOIN
                  dbo.categorie ON dbo.achat.id = dbo.categorie.id
GROUP BY dbo.categorie.nom
GO

# [dbo].[affiche_information]

In [0]:
/****** Object:  View [dbo].[affiche_information]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create VIEW [dbo].[affiche_information]  as
select distinct "cli"."nom_client" AS "nom_client","cli"."age" AS "age","cli"."sexe" AS "sexe","p"."nom_produit" AS "nom_produit","c"."nom" AS "nom","a"."quantite_achat" AS "quantité_achat","a"."date_achat" AS "date_achat" from categorie c, client as "cli", achat a,produit p
where c.id=p.id_categorie and a.id_produit=p.id
GO

# [dbo].[nb_tranche_age]

In [0]:
/****** Object:  View [dbo].[nb_tranche_age]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[nb_tranche_age] AS
WITH tranche_cte AS (
    SELECT 
        CASE 
            WHEN c.age BETWEEN 15 AND 25 THEN '15-25ans'
            WHEN c.age BETWEEN 26 AND 40 THEN '26-40ans'
            WHEN c.age BETWEEN 41 AND 60 THEN '41-60ans'
            ELSE '60+ans'
        END AS tranche_age,
        a.quantite_achat,
        p.prix
    FROM produit p
    JOIN achat a ON p.id = a.id_produit
    JOIN client c ON a.id_client = c.Id
)
SELECT 
    tranche_age,
    SUM(quantite_achat) AS SommeQuantite,
    SUM(prix * quantite_achat) AS revenugenere
FROM tranche_cte
GROUP BY tranche_age;











GO

# [dbo].[Top_5_client_revenu]

In [0]:
/****** Object:  View [dbo].[Top_5_client_revenu]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Top_5_client_revenu] as
select Top 5 cli.nom_client,sum(prix*quantite_achat) revenu,sum(quantite_achat) total_quantite
from client cli,produit p,achat a
where cli.id=a.id_client and p.id=a.id_produit
group by cli.nom_client
order by sum(prix*quantite_achat)
GO

# [dbo].[Top_5_meilleur_client_revenu]

In [0]:
/****** Object:  View [dbo].[Top_5_meilleur_client_revenu]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Top_5_meilleur_client_revenu] as
select Top 5 cli.nom_client,sum(prix*quantite_achat) revenu,sum(quantite_achat) total_quantite
from client cli,produit p,achat a
where cli.id=a.id_client and p.id=a.id_produit
group by cli.nom_client
order by sum(prix*quantite_achat) desc
GO

# [dbo].[groupement]

In [0]:
/****** Object:  View [dbo].[groupement]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[groupement] as
select c.nom_client AS nom_client,count(c.nom_client) AS nombre_achat,sum(a.quantite_achat) AS quantité_acheté,row_number() OVER (ORDER BY sum(a.quantite_achat) desc )  AS rang_par_nombre_produit,row_number() OVER (ORDER BY count(c.nom_client) desc )  AS rang_fidelisation
from client c , achat a where c.Id = a.id_client
group by c.nom_client







GO

# [dbo].[information_vente]

In [0]:
/****** Object:  View [dbo].[information_vente]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[information_vente] as
select c.nom AS nom,p.nom_produit AS nom_produit,sum(a.quantite_achat) AS sommeQuantite
from produit p,achat a,categorie c
where p.id_categorie = c.Id and a.id_produit = p.id
group by c.nom,p.nom_produit,a.id_produit
GO

# [dbo].[stock_restant]

In [0]:
/****** Object:  View [dbo].[stock_restant]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[stock_restant] as 
select c.nom AS nom,p.nom_produit AS nom_produit,p.stock_initial,sum(a.quantite_achat) sommeQuantitéVendue,(stock_initial-sum(a.quantite_achat)) AS stock_restant
from produit p,achat a,categorie c
where p.id_categorie = c.Id and a.id_produit = p.id
group by c.nom,p.nom_produit,a.id_produit,p.stock_initial
GO

# [dbo].[topProduitMensuel]

In [0]:
/****** Object:  View [dbo].[topProduitMensuel]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[topProduitMensuel] AS
WITH sous_vue AS (
    SELECT 
        DATENAME(MONTH, a.date_achat) AS mois,
        p.nom_produit,
        SUM(a.quantite_achat) AS total_quantite,
        ROW_NUMBER() OVER (
            PARTITION BY DATENAME(MONTH, a.date_achat)
            ORDER BY SUM(a.quantite_achat) DESC
        ) AS rang
    FROM produit p
    JOIN achat a ON p.id = a.id_produit
    GROUP BY 
        DATENAME(MONTH, a.date_achat),
        p.nom_produit
)
SELECT 
    mois,
    nom_produit,
    total_quantite
FROM sous_vue
WHERE rang = 1
GO

# [dbo].[topProduitMensuelRevenu]

In [0]:
/****** Object:  View [dbo].[topProduitMensuelRevenu]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[topProduitMensuelRevenu] as
with sous_vue as(
select Datename(MONTH,a.date_achat) AS mois,p.nom_produit AS nom_produit,sum((p.prix * a.quantite_achat)) AS revenu_genere,sum(a.quantite_achat) AS
total_quantite,row_number() OVER (PARTITION BY Datename(MONTH,a.date_achat) ORDER BY sum((p.prix * a.quantite_achat)) desc )  AS rang
from produit p, achat a
where p.id = a.id_produit 
group by DATENAME(MONTH, a.date_achat),p.nom_produit) 

select sous_vue.mois,sous_vue.nom_produit AS nom_produit,sous_vue.revenu_genere AS revenu_genere,sous_vue.total_quantite AS total_quantite
from sous_vue
where (sous_vue.rang = 1)
GO

# [dbo].[RevenuQuantiteJournalier]

In [0]:
/****** Object:  View [dbo].[RevenuQuantiteJournalier]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[RevenuQuantiteJournalier] as
select DATENAME(DW,a.date_achat) AS jour_semaine,count(*) AS nb_achats,
sum(a.quantite_achat) SommeQuantiteVendu,sum((p.prix * a.quantite_achat)) AS Revenu_journalier
from achat a,produit p
where a.id_produit = p.id
group by DATENAME(DW,a.date_achat)
GO

# [dbo].[Nb_client_tranche_age]

In [0]:
/****** Object:  View [dbo].[Nb_client_tranche_age]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Nb_client_tranche_age] as
select case when (client.age between 15 and 25) then '15-25ans' when (client.age between 26 and 40) then '26-40ans'
when (client.age between 41 and 60) then '41-60' else '60+ans' end
AS trange_age,count(*) AS nb_client
from client
group by case when (client.age between 15 and 25) then '15-25ans' when (client.age between 26 and 40) then '26-40ans'
when (client.age between 41 and 60) then '41-60' else '60+ans' end
GO

# [dbo].[Repartition_revenu_categorie]

In [0]:
/****** Object:  View [dbo].[Repartition_revenu_categorie]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Repartition_revenu_categorie] as
select cat.nom,sum(p.prix*a.quantite_achat) revenu_genere
from produit p,categorie cat,achat a
where p.id=a.id_produit and cat.id=p.id_categorie
group by cat.nom
GO

# [dbo].[Information_Mensuel]

In [0]:
/****** Object:  View [dbo].[Information_Mensuel]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Information_Mensuel] as
select DateName(MONTH,a.date_achat) AS mois,sum((p.prix * a.quantite_achat)) AS Revenu_mensuel,avg((p.prix * a.quantite_achat)) AS Moyenne_revenu,
sum(a.quantite_achat) AS quantité_mensuel,count(a.id) AS nombre_vente
from produit p, achat a, categorie cat where p.id = a.id_produit and cat.Id = p.id_categorie
group by DateName(MONTH,a.date_achat)
GO

# [dbo].[detail_information_annuel_mensuel]

In [0]:
/****** Object:  View [dbo].[detail_information_annuel_mensuel]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[detail_information_annuel_mensuel] as
select Datename(YEAR,a.date_achat) AS annee,datename(MONTH,a.date_achat) AS mois,sum((p.prix * a.quantite_achat)) AS chiffre_affaire,round((sum((p.prix * a.quantite_achat)) / count(a.id)),2) AS panier_moyen,count(a.id) AS nb_achats,count(distinct a.id_produit) AS nb_produit_distinct
from produit p ,achat a where a.id_produit = p.id
group by Datename(YEAR,a.date_achat),datename(MONTH,a.date_achat)
GO

# [dbo].[Revenu_Genre]

In [0]:
/****** Object:  View [dbo].[Revenu_Genre]    Script Date: 02/06/2025 08:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Revenu_Genre] as
select cli.sexe,sum(p.prix*a.quantite_achat) RevenuGenere,sum(a.quantite_achat) total_quantite,c.nom,count(distinct  p.nom_produit) nb_produit_distinct
from client cli,produit p,achat a,categorie c
where p.id=a.id_produit and cli.id=a.id_client and c.id=p.id_categorie
group by c.nom,cli.sexe
GO

# [FK__achat__id_client__412EB0B6]

In [0]:
ALTER TABLE [dbo].[achat]  WITH CHECK ADD FOREIGN KEY([id_client])
REFERENCES [dbo].[client] ([id])
GO

# [FK__achat__id_produi__403A8C7D]

In [0]:
ALTER TABLE [dbo].[achat]  WITH CHECK ADD FOREIGN KEY([id_produit])
REFERENCES [dbo].[produit] ([id])
GO

# [FK__produit__id_cate__3B75D760]

In [0]:
ALTER TABLE [dbo].[produit]  WITH CHECK ADD FOREIGN KEY([id_categorie])
REFERENCES [dbo].[categorie] ([id])
GO

# [MS_DiagramPane1]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "achat"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "categorie"
            Begin Extent = 
               Top = 7
               Left = 340
               Bottom = 126
               Right = 584
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'repartition_quantité_categorie'
GO

# [MS_DiagramPaneCount]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'repartition_quantité_categorie'
GO

# [magasin]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [magasin] SET  READ_WRITE 
GO